aclocal.m4
autom4te.cache
config.h
config.h.in
config.h-new
config.log
config.status
config.guess
config.sub
config.rpath
config.guess.dh-orig
config.sub.dh-orig
configure
gstreamer-rockchip.spec
libtool
stamp-h
stamp-h.in
stamp-h1
gst-element-check-*.m4
ltmain.sh
missing
mkinstalldirs
compile
install-sh
depcomp
autoregen.sh
ABOUT-NLS
/INSTALL
_stdint.h
gstreamer-rockchip-*.tar.*
.dirstamp
/*-libtool

/m4

.deps
.libs
*.lo
*.la
*.o
Makefile.in
Makefile
*~
*.swp
*.gc??

/m4

tmp-orc.c
*orc.h

/tests/examples/player/ayamero-player
/tests/examples/camera/camera-demo

Build
*.user
*.suo
*.ipch
*.sdf
*.opensdf
*.DS_Store

/test-driver
*.log
*.trs

/build
/subprojects
